<%= render 'shared/errors', obj: @classroom %>

<div class="row">
  <div class="col-md-12">
    <%= form_for(@classroom, url: classrooms_path(@classroom), :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

        <div class="row">
          <div class="group input-field col s12">
            <%= f.text_field :name, class: 'validate', autofocus: true %>
            <%= f.label :nom %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :description %>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, class: 'form-control', placeholder: 'Entrer une description...' %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :Étage %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :floor, class: 'form-control', placeholder: 'Étage' %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <%= f.label :aile %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :wing, class: 'form-control', placeholder: 'Étage' %>
          </div>
        </div>

        <%= f.fields_for(:point, :html => {class: 'form-horizontal', role: 'form'}) do |b| %>

          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= b.label :lat, 'Lattitude' %>
            </div>
            <div class="col-sm-8">
              <%= b.text_field :lat, class: 'form-control', placeholder: 'Entrer une lattitude' %>
            </div>
          </div>

          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= b.label :lng, 'Longitude' %>
            </div>
            <div class="col-sm-8">
              <%= b.text_field :lng, class: 'form-control', placeholder: 'Entrer une longitude' %>
            </div>
          </div>

        <% end %>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= link_to 'Annuler', classrooms_path, class: 'btn btn-danger btn-sm', 'data-dismiss' => 'modal' %>
            <%= f.submit 'Créer', class: 'btn btn-primary btn-sm', 'data-dismiss' => 'modal' %>
          </div>
        </div>

    <% end %>
  </div>
</div>
