<div class="card card-modal">
  <div class="card-content">
    <span class="card-title"><%= classroom.name %></span>
  </div>
  <div class="card-content">
    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    <%= classroom.floor %>

    <%= classroom.wing %>

    <%= classroom.created_at %>

    <%= classroom.updated_at %>
  </div>
  <div class="card-content bottom-content">
    <span>Clique</span>
  </div>
</div>
