<div class="row">
  <div class="col s12 m4 l3 fixed-control">

    <div class="card card-top">
      <div class="card-content">
        <span class="card-title thin">Locaux</span>
        <p>Voici tous les locaux répertoriés dans les cartes du bâtiment. On peut les modifier ou les supprimer.</p>
      </div>
      <div class="card-action">
        <%= link_to raw('<i class="material-icons right">add</i>Créer un local'), new_classroom_path, class: 'btn waves-effect waves-light' %>
      </div>
    </div>

    <div class="card side-card">
      <div class="card-content">
        <span class="card-title thin">Locaux</span>
        <p>Voici tous les locaux répertoriés dans les cartes du bâtiment. On peut les modifier ou les supprimer.</p>
      </div>
      <div class="card-action">
        <%= link_to raw('<i class="material-icons right">add</i>Créer un local'), new_classroom_path, class: 'btn waves-effect waves-light' %>
      </div>
    </div>

  </div>

  <div class="col s12 m8 l9 offset-m4 offset-l3">
    <div class="card card-top">
      <div class="card-content">
        <table class="centered">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Étage</th>
            <th>Aile</th>
            <th>Date de création</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @classrooms.each do |classroom| %>
              <tr class="table-action table-row">
                <td><%= classroom.name %></td>
                <td><%= classroom.floor %></td>
                <td><%= classroom.wing %></td>
                <td width="30%"><%= classroom.created_at %></td>
                <td width="20%">
                  <%= link_to(raw('<i class="material-icons">info_outline</i>'), classroom_path(classroom), class: 'btn btn-floating btn-large waves-effect waves-light waves-circle green') %>
                  <%= link_to(raw('<i class="material-icons">edit</i>'), edit_classroom_path(classroom), class: 'btn btn-floating btn-large waves-effect waves-light waves-circle blue') %>
                  <%= link_to(raw('<i class="material-icons">delete</i>'), classroom_path(classroom), method: :delete, class: 'btn-floating btn-large waves-effect waves-light red', data: {confirm: 'Voulez-vous vraiment supprimer ce local ?'}) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>