<div class="container">
  <h1 class="page-header view-header">Locaux</h1>

  <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-3 tokens-actions">
    <%= link_to 'Créer un local', new_classroom_path, class: 'btn btn-primary col-xs-12' %></div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10 text-left"><h4 class="tokens-table-header">Locaux</h4></div>
          <div class="col-xs-2 text-right"><span class="badge"><%= @classrooms.count %></span></div>
        </div>
      </div>
      <div class="panel-body">
        <p>Voici la liste de tous les locaux.</p>
      </div>

      <table class="table tokens-table">
        <thead>
        <tr>
          <th>Nom</th>
          <th>Étage</th>
          <th>Date de création</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
          <% @classrooms.each do |classroom| %>
            <tr class="token-data token-row">
              <td><%= classroom.name %></td>
              <td><%= classroom.floor %></td>
              <td><%= classroom.created_at %></td>
              <td width="30%">
                <div class="row">
                  <%= button_tag(:type => 'button', class: 'btn btn-xs btn-success token-action') do %>
                    <% link_to 'Modifier', edit_classroom_path(classroom), class: 'link-no-style' %>
                  <% end %>
                  <%= button_tag(:type => 'button', class: 'btn btn-xs btn-danger token-action') do %>
                    <% link_to 'Supprimer', classrooms_path, method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer ce jeton?'}, class: 'link-no-style' %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>