<div class="row">
  <div class="col s12 m4 l3 fixed-control">

    <div class="card card-top">
      <div class="card-content">
        <span class="card-title thin">Locaux</span>
        <p>Voici tous les locaux répertoriés dans les cartes du bâtiment. On peut les modifier ou les supprimer.</p>
      </div>
      <div class="card-action">
        <%= link_to raw('<i class="material-icons right">add</i>Créer un local'), new_classroom_path, class: 'btn waves-effect waves-light' %>
      </div>
    </div>

    <div class="side-card">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header"><span class="badge"><%= @classrooms.count %></span><i class="material-icons">place</i>Locaux</div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
    </div>

  </div>

  <div class="col s12 m8 l9 offset-m4 offset-l3">
    <div class="card card-top">
      <div class="card-content no-padding">
        <table class="centered">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Étage</th>
            <th>Aile</th>
            <th>Date de création</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @classrooms.each do |classroom| %>
              <tr class="table-action table-row">
                <td><%= classroom.name %></td>
                <td><%= classroom.floor %></td>
                <td><%= classroom.wing %></td>
                <td width="30%"><%= classroom.created_at %></td>
                <td width="20%">
                  <%= link_to(raw('<i class="material-icons">info_outline</i>'), "#modal#{classroom.id}", remote: true, class: 'btn btn-floating btn-large waves-effect waves-light waves-circle modal-trigger green') %>
                  <%= link_to(raw('<i class="material-icons">edit</i>'), edit_classroom_path(classroom), class: 'btn btn-floating btn-large waves-effect waves-light waves-circle blue') %>
                  <%= link_to(raw('<i class="material-icons">delete</i>'), classroom_path(classroom), method: :delete, class: 'btn-floating btn-large waves-effect waves-light red', data: {confirm: 'Voulez-vous vraiment supprimer ce local ?'}) %>
                </td>
              </tr>
              <!-- Modal Structure -->
              <div id="modal<%= classroom.id %>" class="modal small">
                <%= render 'classrooms/show', classroom: classroom %>
              </div>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

