<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h1><%= @classroom.name %></h1>
  </div>

  <div class="row">
    <%= @classroom.floor %>
  </div>

  <div class="row">
    <%= @classroom.wing %>
  </div>

  <div class="row">
    <%= @classroom.created_at %>
  </div>

  <div class="row">
    <%= @classroom.updated_at %>
  </div>

  <div class="row">
    <%= @classroom.point.lat %> | <%= @classroom.point.lng %>
  </div>

  <div class="row">
    <%= link_to 'Revenir', classrooms_path, class: 'btn' %>
    <%= link_to 'Modifier', edit_classroom_path(@classroom), class: 'btn' %>
  </div>
</div>