<%= render 'shared/errors', obj: @admin %>

<%= form_for(@admin) do |f| %>
    <div class="field form-group">
      <%= f.label :username %><br>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :master_admin %><br>
      <%= f.check_box :master_admin, class: 'form-check' %>
    </div>
    <div class="actions form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
