<%= render 'shared/errors', obj: @admin %>

<%= form_for(@admin) do |f| %>
    <div class="row">
      <div class="group input-field col s12">
        <%= f.text_field :username, class: 'validate' %>
        <label>Nom d'utilisateur</label>
      </div>
    </div>
    <div class="row">
      <div class="group input-field col s12">
        <%= f.text_field :email, class: 'validate' %>
        <label>Courriel</label>
      </div>
    </div>

    <div class="row">
      <div class="group input-field col s12">
        <%= f.password_field :password, class: 'validate' %>
        <label>Mot de passe</label>

      </div>
    </div>

    <div class="row">
      <%= f.check_box :master_admin, id: 'master-admin' %>
      <label for="master-admin">Administrateur principal</label>
    </div>

    <%= link_to 'Revenir', admins_path, class: 'btn' %>
    <%= f.submit (@admin.new_record? ? 'Créer' : 'Modifier'), class: 'btn' %>

<% end %>
