<div class="container">

  <h1>Administrateurs</h1>

  <table>
    <thead>
    <tr>
      <th>Nom d'utilisateur</th>
      <th>Adresse courriel</th>
      <th>Administrateur principal</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @admins.each do |admin| %>
        <tr>
          <td><%= admin.username %></td>
          <td><%= admin.email %></td>
          <td><%= admin.master_admin ? 'Oui' : 'Non' %></td>
          <td><%= link_to 'Afficher', admin %></td>
          <% if current_admin && current_admin.master_admin? || admin == current_admin %>
              <td><%= link_to 'Modifier', edit_admin_path(admin) %></td>
          <% end %>
          <% if current_admin && current_admin.master_admin? %>
              <td><%= link_to 'Supprimer', admin, method: :delete, data: {confirm: 'Êtes vous certain'} %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <% if current_admin && current_admin.master_admin? %>
      <%= link_to 'Nouveau', new_admin_path %>
  <% end %>
</div>