<div class="row">

  <div class="col s12 m4 l3 fixed-control">

    <div class="card card-top">
      <div class="card-content">
        <span class="card-title thin">Administrateurs</span>
        <p>Voici tous les administrateurs. On peut les modifier ou les supprimer.</p>
      </div>
      <div class="card-action">
        <% if current_admin && current_admin.master_admin? %>
            <%= link_to raw('<i class="material-icons right">add</i>Nouvel administrateur'), new_admin_path, class: 'btn waves-effect waves-light' %>
        <% end %>

      </div>
    </div>

    <div class="side-card">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">
            <span class="badge"><%= @admins.count %></span><i class="material-icons">place</i>Administrateurs
          </div>
          <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col s12 m8 l9 offset-m4 offset-l3">
    <div class="card card-top">
      <div class="card-content no-padding">
        <table class="centered">
          <thead>
          <tr>
            <th>Nom d'utilisateur</th>
            <th>Adresse courriel</th>
            <th>Administrateur principal</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @admins.each do |admin| %>
              <tr class="table-action table-row">
                <td><%= admin.username %></td>
                <td><%= admin.email %></td>
                <td><%= admin.master_admin ? 'Oui' : 'Non' %></td>
                <td><%= link_to raw('<i class="material-icons">info_outline</i>'), admin, class: 'btn btn-floating btn-large waves-effect waves-light waves-circle green' %></td>
                <% if current_admin && current_admin.master_admin? || admin == current_admin %>
                    <td><%= link_to raw('<i class="material-icons">edit</i>'), edit_admin_path(admin), class: 'btn btn-floating btn-large waves-effect waves-light waves-circle blue' %></td>
                <% end %>
                <% if current_admin && current_admin.master_admin? %>
                    <td><%= link_to raw('<i class="material-icons">delete</i>'), admin, method: :delete, data: {confirm: 'Êtes vous certain de vouloir supprimer cette administrateur ?'}, class: 'btn-floating btn-large waves-effect waves-light red' %></td>
                <% end %>
              </tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>