<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <h1><%= @admin.username %></h1>
  </div>

  <div class="row">
    <strong>Adresse courriel:</strong>
    <%= @admin.email %>
  </div>

  <div class="row">
    <strong>Administrateur principal:</strong>
    <%= @admin.master_admin ? 'Oui' : 'Non' %>
  </div>
  <div class="row">
    <%= link_to 'Revenir', admins_path, class: 'btn' %>
    <% if current_admin.master_admin? || @admin.id == current_admin.id %>
        <%= link_to 'Modifier', edit_admin_path(@admin), class: 'btn' %>
    <% end %>
  </div>
</div>