<%= render 'shared/errors', obj: @map %>

<div class="card-panel hoverable">
  <div class="row">
    <div class="col s12">
      <%= form_for(@map, url: upload_index_path(@map), :html => {class: 'col s12'}) do |f| %>

          <div class="row">
            <div class="input-field col s9">
              <%= f.text_field :name, class: 'validate', autofocus: true %>
              <label>Nom</label>
            </div>

            <div class="input-field col s3">
              <%= f.number_field :floor, class: 'validate' %>
              <label>Étage</label>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div class="file-field input-field">
                <div class="btn waves-effect waves-light"><span>Fichier des locaux</span><%= f.file_field :map %></div>
                <div class="file-path-wrapper"><input class="file-path validate" type="text"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s12">
              <div class="file-field input-field">
                <div class="btn waves-effect waves-light"><span>Fichier des corridors</span><%= f.file_field :corridor %></div>
                <div class="file-path-wrapper"><input class="file-path validate" type="text"></div>
              </div>
            </div>
          </div>

          <%= link_to 'Annuler', upload_index_path, class: 'btn waves-effect waves-light red' %>
          <%= f.submit ('Téléverser'), class: 'btn waves-effect waves-light' %>

      <% end %>
    </div>
  </div>
</div>