<%= render 'shared/errors', obj: @map %>

<div class="row">
  <div>
    <%= form_for(@map, url: upload_index_path(@map), :html => {class: '', role: 'form'}) do |f| %>

        <div class="row">
          <div class="group input-field col s12">
            <%= f.text_field :name, class: 'validate', autofocus: true %>
            <label>Nom</label>
          </div>
        </div>

        <div class="row">
          <div class="group input-field col s12">
            <%= f.number_field :floor, class: 'validate' %>
            <label>Étage</label>
          </div>
        </div>

        <div class="row">
          <div class="">
            <label>Carte : </label>
            <%= f.file_field :map %>
          </div>
        </div>

        <div>
          <div>
            <%= link_to 'Annuler', upload_index_path, class: 'btn btn-danger btn-sm' %>
            <%= f.submit ('Téléverser'), class: 'btn btn-primary btn-sm' %>
          </div>
        </div>

    <% end %>
  </div>
</div>