<div class="container">
  <h1>Gestion des cartes</h1>

  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Étage</th>
      <th>Carte actuelle</th>
      <th>Corridor téléverser</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @maps.each do |map| %>
        <tr>
          <td><%= map.name %></td>
          <td><%= map.floor %></td>
          <td><%= map.currentMap ? 'Oui' : 'Non' %></td>
          <td><%= map.corridor.present? ? 'Oui' : 'Non' %></td>
          <td>
            <%= link_to (map.currentMap ? 'Désactiver' : 'Activer'), make_current_map_path(map), class: 'btn' %>
            <%= link_to 'Modifier', edit_upload_path(map), class: 'btn' %>
            <%= link_to 'Supprimer', upload_path(map), method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette carte?'}, class: 'btn' %>
            <%= link_to 'Téléverser corridors', new_corridor_path(map), class: 'btn' %>

          </td>
    <% end %>
    </tbody>
  </table>
  <hr>
  <br>
  <%= link_to 'Téléverser une nouvelle carte', new_upload_path, class: 'btn' %>
</div>
