<div class="container">
  <h1 class="page-header view-header">Maps</h1>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 tokens-actions">
    <%= link_to 'Upload a new map', new_upload_path, class: 'btn btn-primary col-xs-12' %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10 text-left"><h4 class="tokens-table-header">Map list</h4></div>
          <div class="col-xs-2 text-right"><span class="badge"><%= @maps.count %></span></div>
        </div>
      </div>
      <div class="panel-body">
        <p>Here are all your map.</p>
      </div>

      <table class="table tokens-table">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Created at</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <% @maps.each do |map| %>
            <tr class="token-data token-row">
              <td><%= map.id %></td>
              <td><%= map.name %></td>
              <td><%= map.created_at %></td>
              <td width="30%">
                <div class="row">
                  <button type="button" class="btn btn-primary btn-xs token-action" onclick="alert('<%= map.map %>')">Show</button>
                  <%= button_tag(:type => 'button', class: 'btn btn-xs btn-success token-action') do %>
                      <% link_to 'Rename', edit_upload_path(map), class: 'link-no-style' %>
                  <% end %>
                  <%= button_tag(:type => 'button', class: 'btn btn-xs btn-danger token-action') do %>
                      <% link_to 'Delete', upload_path(map), method: :delete, data: {confirm: 'Are you sure you want to delete this map ?'}, class: 'link-no-style' %>
                  <% end %>
                </div>
              </td>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>