<div class="row">
  <div class="col s12 m4 l3 fixed-control">
    <div class="card card-top">
      <div class="card-content">
        <span class="card-title thin">Gestion des cartes</span>
        <p>Voici tous les cartes du cégep. On peut les modifier ou les supprimer.</p>
      </div>
      <div class="card-action">
        <%= link_to raw('<i class="material-icons right">add</i>Téléverser une carte'), new_upload_path, class: 'btn waves-effect waves-light' %>
      </div>
    </div>

    <div class="side-card">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <div class="collapsible-header">
            <span class="badge"><%= @maps.count %></span><i class="material-icons">place</i>cartes
          </div>
        </li>
      </ul>
    </div>

  </div>
  <div class="col s12 m8 l9 offset-m4 offset-l3">
    <div class="card card-top">
      <div class="card-content no-padding">
        <table class="centered">
          <thead>
          <tr>
            <th>Nom</th>
            <th>Étage</th>
            <th>Corridor téléverser</th>
            <th>Carte actuelle</th>
            <th></th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @maps.each do |map| %>
              <tr class="table-action table-row">
                <td><%= map.name %></td>
                <td width="10%"><%= map.floor %></td>
                <td width="15%"><%= map.corridor.present? ? 'Oui' : 'Non' %></td>
                <td width="15%"><%= map.currentMap ? 'Oui' : 'Non' %></td>
                <td width="17%"><%= link_to (map.currentMap ? 'Désactiver' : 'Activer'), make_current_map_path(map), class: 'btn' %></td>
                <td width="15%">
                  <%= link_to raw('<i class="material-icons">edit</i>'), edit_upload_path(map), class: 'btn btn-floating waves-effect waves-light waves-circle blue' %>
                  <%= link_to raw('<i class="material-icons">delete</i>'), upload_path(map), method: :delete, data: {confirm: 'Voulez-vous vraiment supprimer cette carte?'}, class: 'btn btn-floating waves-effect waves-light red' %>
                  <%= link_to raw('<i class="material-icons">publish</i>'), new_corridor_path(map), class: 'btn btn-floating waves-effect waves-light green' %>

                </td>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
