<div class="container">
  <h1>Téléverser une carte des corridors</h1>

  <%= render 'shared/errors', obj: @map %>

  <div class="card-panel hoverable">
    <div class="row">
      <div class="col s12">
        <%= form_for(@map, url: upload_corridor_path(@map), :action => "upload_corridor", :html => {class: '', role: 'form'}) do |f| %>

            <div class="row">
              <div class="col s12">
                <div class="file-field input-field">
                  <div class="btn waves-effect waves-light"><span>Fichier des corridors</span><%= f.file_field :corridor %></div>
                  <div class="file-path-wrapper"><input class="file-path validate" type="text"></div>
                </div>
              </div>
            </div>

            <%= link_to 'Annuler', upload_index_path, class: 'btn waves-effect waves-light red' %>
            <%= f.submit ('Téléverser'), class: 'btn waves-effect waves-light' %>

        <% end %>
      </div>
    </div>
  </div>

</div>
