<hgroup>
  <h3>Administration</h3>
  <h6>Connectez-vous avec vos informations d'identification fournies par l'administrateur principal.</h6>
</hgroup>

<%= form_for(:logins, :html => {class: 'login', role: 'form'}, url: login_path) do |f| %>

    <div class="row">
      <div class="group input-field col s12">
        <%= f.label :courriel %>
        <%= f.email_field :email, class: 'validate' %>
      </div>
    </div>

    <div class="row">
      <div class="group input-field col s12">
        <%= f.label :mot_de_passe %>
        <%= f.password_field :password, class: 'validate', autocomplete: 'off' %>
      </div>
    </div>

    <%= f.submit 'Connexion', class: 'waves-effect waves-light btn' %>

<% end %>