<div class="container">
  <h1 class="page-header view-header">Mettre à jour</h1>

  <%= render 'shared/errors', obj: @token %>

  <div class="row">
    <div>
      <%= form_for(@token, url: token_path(@token), method: :patch, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>

          <div>
            <div>
              <%= f.label :nom_de_la_clé %>
            </div>
            <div>
              <%= f.text_field :name, class: 'validate', autofocus: true %>
            </div>
          </div>
          <div>
            <div>
              <%= link_to 'Annuler', tokens_path, class: 'btn' %>
              <%= f.submit 'Modifier', class: 'btn' %>
            </div>
          </div>

      <% end %>
    </div>
  </div>

</div>