<div class="container">
  <h1>Modifier</h1>

  <%= render 'shared/errors', obj: @token %>

  <div class="row">
    <div>
      <%= form_for(@token, url: token_path(@token), method: :patch, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
          <div class="row">
            <div class="group input-field col s12">
              <%= f.text_field :name, class: 'validate', autofocus: true %>
              <label>Nom de la clé</label>
            </div>
          </div>

          <div class="row">
            <div>
              <%= link_to 'Annuler', tokens_path, class: 'btn' %>
              <%= f.submit 'Modifier', class: 'btn' %>
            </div>
          </div>

      <% end %>
    </div>
  </div>

</div>