<div class="container">
  <h1 class="page-header view-header">Tokens</h1>

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <%= link_to 'Generate new', new_token_path, class: 'btn btn-primary' %>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-10 text-left"><h4 class="tokens-table-header">API keys</h4></div>
          <div class="col-xs-2 text-right"><span class="badge"><%= @tokens.count %></span></div>
        </div>
      </div>
      <div class="panel-body">
        <p>Here are all your tokens for the API.</p>
      </div>

      <table class="table tokens-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Token</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @tokens.each do |token| %>
            <tr class="token-actions">
              <td><%= token.id %></td>
              <td><%= token.name %></td>
              <td><%= token.access_token %></td>
              <td>
                <button type="button" class="btn btn-danger btn-xs">Revoke</button>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>