<ul id="dropdown-carte" class="dropdown-content">
  <li><%= link_to 'Afficher', map_path %></li>
  <li class="divider"></li>
  <li><%= link_to 'Options', upload_index_path %></li>
</ul>

<nav class="accent-2">
  <div class="nav-wrapper">

    <a href="" id="logo" class="brand-logo left bold">GeoApp</a>

    <% if current_admin %>
        <ul id="nav-mobile" class="right hide-on-small-and-down">
          <li><%= link_to 'Déconnexion', logout_path, method: :delete %></li>
        </ul>
    <% end %>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="<%= 'active' if current_page?(admins_path) %>"><%= link_to 'Administration', admins_path %></li>
      <li class="<%= 'active' if current_page?(tokens_path) %>"><%= link_to 'Jetons', tokens_path %></li>

      <li class="dropdown <%= 'active' if current_page?(map_path) || current_page?(upload_index_path) %>">
        <a class="dropdown-button" href="#" data-activates="dropdown-carte">Carte</a>
      </li>
    </ul>

  </div>
</nav>